html {
  scroll-behavior: smooth;
}

:root {
  --clr-primary: 260, 94%, 75%;
  --clr-primary-dark: 260, 98%, 69%;
  --clr-white: 0, 0%, 100%;
  --clr-black: 0, 0%, 0%;
  --clr-dark: 0, 0%, 18%;
  --clr-highlight: 132, 100%, 95%;
  --clr-warning: 0, 100%, 50%;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

.nav-link {
  text-decoration: none;
}

.nav-link::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: #000;
  transition: width 0.3s;
}

.nav-link:hover::after {
  width: 100%;
  //transition: width .3s;
}

.blurry-navbar {
  /* backdrop-filter: blur(10px); */
  background-color: #173477;
  /* Dark blue background color with transparency */
  z-index: 100;
  /* Ensure the navbar is on top */
}

.hero-swiper {
  width: 100%;
  height: auto;
}

.about-wrapper {
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-image: url("../assets/about-us-bg.jpeg");
  background-attachment: fixed;
}

.infra {
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-image: url("../assets/about-us-bg.jpeg");
  background-attachment: fixed;
}

.heading-border:after {
  border-bottom: 3px solid #cecece;
  content: "";
  display: block;
  padding-top: 6px;
  width: 30%;
}

.sub-heading-border {
  border-bottom: 3px solid #cecece;
  content: "";
  display: block;
  padding-top: 3px;
  width: 15%;
}

.sub-heading-border-2 {
  border-bottom: 3px solid #cecece;
  content: "";
  display: block;
  padding-top: 3px;
  width: 25%;
}

.servies-border:after {
  border-bottom: 3px solid #009ffd;
  content: "";
  display: block;
  padding-top: 11px;
  width: 25%;
}

.service-section {
  background-color: #0cbaba;
  background-image: linear-gradient(315deg, #0cbaba 0%, #380036 74%);
}

.text {
  text-align: justify;
  text-justify: inter-word;
}

.second {
}

.second {
  flex-direction: row;
  gap: 1.6em;
}

.main > div span {
  text-transform: uppercase;
  letter-spacing: 1.5px;
  font-size: 1rem;
  color: #717171;
}

.main > div h3 {
  letter-spacing: 0.8px;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-size: clamp(2.4375rem, 3.25rem + 0.75vw, 4rem);
  background-color: #005baa;
  background-image: linear-gradient(45deg, #005baa, #000000);
  background-size: 100%;
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

.main > div hr {
  display: block;
  background: #005baa;
  height: 0.25rem;
  width: 6.25rem;
  border: none;
  margin: 1.125rem 0 1.875rem 0;
}

.main > div p {
  line-height: 1.6;
}

.main a {
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  color: #717171;
  font-weight: 500;
  background: #fff;
  border-radius: 3.125rem;
  transition: 0.3s ease-in-out;
}

.main > div > a {
  /* border: 2px solid #c2c2c2;
  margin-top: 2.188rem;
  padding: 0.625rem 1.875rem; */
}

.main > div > a:hover {
  border: 0.125rem solid #005baa;
  color: #005baa;
}

.capability-swiper {
  width: 100%;
  padding-top: 3.125rem;
}

.capability-swiper .swiper-pagination-bullet,
.swiper-pagination-bullet-active {
  background: #fff;
}

.capability-swiper .swiper-pagination {
  bottom: 1.25rem !important;
}

.capability-swiper .swiper-slide {
  width: 250px;
}

.capability-swiper .swiper-3d .swiper-slide-shadow-left,
.capability-swiper .swiper-3d .swiper-slide-shadow-right {
  background-image: none;
}

@media screen and (min-width: 48rem) {
  .main {
    display: flex;
    align-items: center;
  }
  .bg,
  .bg2 {
    opacity: 0.1;
  }
}
@media screen and (min-width: 93.75rem) {
  .capability-swiper {
    width: 85%;
  }
}

.servie-card {
  background: #03045e;
}

/* General styling */
body {
}

/* Slider container */
#slider {
  position: relative;
  width: 50%;
  height: 32vw;
  margin: 150px auto;
  perspective: 1400px;
  transform-style: preserve-3d;
  border-radius: 12px; /* Rounded corners */
}

/* Radio buttons for slide control */
/* General styling */
body {
}

/* Slider container */
#slider {
  position: relative;
  width: 40%;
  height: 32vw;
  margin: 64px auto;
  perspective: 1400px;
  transform-style: preserve-3d;
  border-radius: 12px; /* Rounded corners */
}

/* Radio buttons for slide control */
input[type="radio"] {
  position: relative;
  top: 108%;
  left: 39%;
  width: 10px; /* Slightly larger */
  height: 10px; /* Slightly larger */
  margin: 0 15px 0 0;
  background: #ccc; /* Light gray */
  border: 2px solid #ccc; /* Light gray */
  border-radius: 50%; /* Rounded corners */
  cursor: pointer;
  transform: translateX(-83px);
  transition: background 300ms ease, border 300ms ease; /* Smooth transition */
}

input[type="radio"]:checked {
  background: #ff5a5f; /* Airbnb's coral red */
  border: 2px solid #ff5a5f; /* Airbnb's coral red */
}

/* Labels and images */
#slider label,
#slider label img {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  border-radius: 12px; /* Rounded corners */
  transition: transform 400ms ease, opacity 400ms ease; /* Added opacity transition */
}

/* New addition for Zoom Effect */
.zoom-container {
  overflow: hidden; /* Hide the part of the image that extends outside the div */
}

/* Zoom effect */
.zoom-container:hover {
  cursor: default; /* Change cursor to zoom-in icon */
}

.zoom-container.can-zoom:hover img {
  transform: scale(1.4); /* Zoom level */
  transition: transform 0.5s ease-in-out;
}

/* Transition rules for 8 slides */
/* Centered slide */
#s1:checked ~ #slide1,
#s2:checked ~ #slide2,
#s3:checked ~ #slide3,
#s4:checked ~ #slide4,
#s5:checked ~ #slide5,
#s6:checked ~ #slide6,
#s7:checked ~ #slide7,
#s8:checked ~ #slide8 {
  box-shadow: 0 13px 26px rgba(0, 0, 0, 0.3), 0 12px 6px rgba(0, 0, 0, 0.2);
  transform: translate3d(0%, 0, 0px);
}

/* Next slides (right of centered) */
#s1:checked ~ #slide2,
#s2:checked ~ #slide3,
#s3:checked ~ #slide4,
#s4:checked ~ #slide5,
#s5:checked ~ #slide6,
#s6:checked ~ #slide7,
#s7:checked ~ #slide8,
#s8:checked ~ #slide1 {
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3), 0 2px 2px rgba(0, 0, 0, 0.2);
  transform: translate3d(20%, 0, -100px);
}

/* Two slides away (right of centered) */
#s1:checked ~ #slide3,
#s2:checked ~ #slide4,
#s3:checked ~ #slide5,
#s4:checked ~ #slide6,
#s5:checked ~ #slide7,
#s6:checked ~ #slide8,
#s7:checked ~ #slide1,
#s8:checked ~ #slide2 {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
  transform: translate3d(40%, 0, -250px);
}

/* Three slides away (right of centered) */
#s1:checked ~ #slide4,
#s2:checked ~ #slide5,
#s3:checked ~ #slide6,
#s4:checked ~ #slide7,
#s5:checked ~ #slide8,
#s6:checked ~ #slide1,
#s7:checked ~ #slide2,
#s8:checked ~ #slide3 {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
  transform: translate3d(60%, 0, -400px);
}

/* Four slides away (right of centered) */
#s1:checked ~ #slide5,
#s2:checked ~ #slide6,
#s3:checked ~ #slide7,
#s4:checked ~ #slide8,
#s5:checked ~ #slide1,
#s6:checked ~ #slide2,
#s7:checked ~ #slide3,
#s8:checked ~ #slide4 {
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3), 0 2px 2px rgba(0, 0, 0, 0.2);
  transform: translate3d(80%, 0, -550px);
}

/* Previous slides (left of centered) */
#s1:checked ~ #slide8,
#s2:checked ~ #slide1,
#s3:checked ~ #slide2,
#s4:checked ~ #slide3,
#s5:checked ~ #slide4,
#s6:checked ~ #slide5,
#s7:checked ~ #slide6,
#s8:checked ~ #slide7 {
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3), 0 2px 2px rgba(0, 0, 0, 0.2);
  transform: translate3d(-20%, 0, -100px);
}

/* Two slides away (left of centered) */
#s1:checked ~ #slide7,
#s2:checked ~ #slide8,
#s3:checked ~ #slide1,
#s4:checked ~ #slide2,
#s5:checked ~ #slide3,
#s6:checked ~ #slide4,
#s7:checked ~ #slide5,
#s8:checked ~ #slide6 {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
  transform: translate3d(-40%, 0, -250px);
}

/* Three slides away (left of centered) */
#s1:checked ~ #slide6,
#s2:checked ~ #slide7,
#s3:checked ~ #slide8,
#s4:checked ~ #slide1,
#s5:checked ~ #slide2,
#s6:checked ~ #slide3,
#s7:checked ~ #slide4,
#s8:checked ~ #slide5 {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
  transform: translate3d(-60%, 0, -400px);
}

/* Four slides away (left of centered) */
#s1:checked ~ #slide5,
#s2:checked ~ #slide6,
#s3:checked ~ #slide7,
#s4:checked ~ #slide8,
#s5:checked ~ #slide1,
#s6:checked ~ #slide2,
#s7:checked ~ #slide3,
#s8:checked ~ #slide4 {
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3), 0 2px 2px rgba(0, 0, 0, 0.2);
  transform: translate3d(-80%, 0, -550px);
}

.company-swiper {
  width: 100%;
  padding: 1.875rem 0;
}

.company-swiper .swiper-slide {
  width: 18.75rem;
  height: 25rem;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: self-start;
  box-shadow: 0.063rem 0.5rem 1.25rem hsl(0deg 0% 0% / 12.16%);
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}

.company-swiper .swiper-slide-img {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  transform: rotate(180deg);
  line-height: 0;
  bottom: -0.063rem;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}

.company-swiper .swiper-slide-img img {
  width: 50%;
  height: 100%;
  /* position: absolute; */
  inset: 0;
  object-fit: contain;
  z-index: -1;
  transition: 0.3s ease-in-out;
  transform: rotate(-180deg);
}

.company-swiper .swiper-slide-img .el-measure-slide-img {
  width: 80%;
  position: unset;
}

.company-swiper .swiper-slide-img .chargtron-slide-img {
  width: 58%;
  position: unset;
}

.company-swiper .swiper-slide-img .shenk-slide-img {
  width: 85%;
  position: unset;
}
.company-swiper .swiper-slide-img .utpl-slide-img {
  width: 70%;
  position: unset;
}

.company-swiper .swiper-slide-img .mags-slide-img {
  width: 65%;
  position: unset;
}

.company-swiper .swiper-slide-img .shape-fill {
  fill: #ffffff;
}

.company-swiper .swiper-slide-content {
  background: #fff;
  padding: 0 1.65rem;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  width: 100%;
}

.company-swiper .swiper-slide-content > div {
  transform: translateY(-1.25rem);
}

.company-swiper .swiper-slide-content h2 {
  color: #000;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 1.4;
  margin-bottom: 0.425rem;
  text-transform: capitalize;
  letter-spacing: 0.02rem;
}

.company-swiper .swiper-slide-content p {
  color: #000;
  line-height: 1.6;
  font-size: 0.9rem;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.company-swiper .swiper-slide-content .show-more {
  width: 3.125rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #24aad9;
  border-radius: 50%;
  box-shadow: 0px 0.125rem 0.875rem #24aad96b;
  margin-top: 1em;
  margin-bottom: 0.2em;
  height: 0;
  opacity: 0;
  transition: opacity 0.3s ease-in;
  margin-left: auto;
}

.company-swiper .swiper-slide-content .show-more svg {
  width: 1.75rem;
  color: #fff;
}

.company-swiper .swiper-3d .swiper-slide-shadow-left,
.swiper-3d .swiper-slide-shadow-right {
  background-image: none;
}

.company-swiper .swiper-slide {
  /* .company-swiper-slide-one { */
  background-color: #fff;
}

@media screen and (min-width: 93.75rem) {
  .company-swiper {
    width: 85%;
  }
}

.service {
  background: #f3f3f3;
}

.service-header {
  text-align: center;
  position: relative;
  background: #f3f3f3;
}
.service-bg-header {
  font-size: 12rem;
  position: relative;
  margin: 0;
  line-height: 1;
  color: #e8e8e8;
}

.service-header-text {
  font-size: 5rem;
  position: absolute;
  top: 42%;
  left: 50%;
  line-height: 1;
  transform: translate(-50%, -50%);
  margin: 0;
  color: #08204c;
}

.service-cards {
  padding: 0px 20px;
}

.service-cards:hover {
  transform: translateY(-10px) scale(1.05);
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
  background-image: linear-gradient(
    45deg,
    hsl(218deg 65% 12%) 0%,
    hsl(218deg 65% 12%) 11%,
    hsl(218deg 65% 12%) 22%,
    hsl(218deg 65% 12%) 33%,
    hsl(218deg 65% 12%) 44%,
    hsl(218deg 65% 12%) 56%,
    hsl(218deg 65% 12%) 67%,
    hsl(218deg 65% 12%) 78%,
    hsl(218deg 65% 12%) 89%,
    hsl(218deg 65% 12%) 100%
  );
}
.service-cards:hover .service-number {
  color: #30384a;
}
.service-cards:hover .service-card-header {
  color: #e8e9ea !important;
}

.service-cards:hover .service-card-text {
  color: #e8e9ea !important;
}

.service-number {
  font-size: 10rem;
  font-weight: 600;
  margin: 0;
  position: relative;
  color: #f5f5f5;
  line-height: 1;
}

.service-card-header {
  font-size: 1.5rem;
  position: absolute;
  line-height: 1;
  top: 50%;
  left: 2%;
}

.infra-swiper {
  width: 100%; /* Full width of the parent container */
  height: 661px; /* Fixed height as specified */
}

.nav-carousel {
  position: absolute;
  bottom: 40px;
  left: 40px;
  display: flex;
  align-items: center;
  gap: 16px;
  transform: scale(1);
  z-index: 3;
}
.nav-carousel .button-prev,
.nav-carousel .button-next {
  transition: transform 0.3s ease-in-out;
}
.nav-carousel .button-prev:hover,
.nav-carousel .button-next:hover {
  transform: scale(1.1);
}
.nav-carousel .pagination > .swiper-pagination-bullet {
  width: 16px;
  height: 16px;
  background-color: #cecece;
  border-radius: 50%;
  transition: all 0.3s ease-in-out;
}
.nav-carousel .pagination > .swiper-pagination-bullet-active {
  background-color: #fff;
  width: 48px;
  border-radius: 16px;
}
.nav-carousel .pagination > .swiper-pagination-bullet:hover,
.nav-carousel .pagination > .swiper-pagination-bullet-active:hover {
  background-color: #fff;
}

.infra-card {
  width: auto;
  height: 660px;
  position: relative;
  background-size: cover;
  background-position: center;
  border-radius: 0px;
  overflow: hidden;
}

.infra-card-1 {
  background-image: url("https://global.yamaha-motor.com/business/smt/printer/ycp10/img/main_img.jpg"); /* Replace with your image path */
}
.infra-card-2 {
  background-image: url("https://global.yamaha-motor.com/business/smt/mounter/ysm20r/img/main_img.jpg"); /* Replace with your image path */
}
.infra-card-3 {
  background-image: url("https://hawkerrichardson.com.au/wp-content/uploads/Heller-1809-1.jpg"); /* Replace with your image path */
}
.infra-card-4 {
  background-image: url("https://www.wnie.online/wp-content/uploads/2019/01/Viscom-S3088-ultra-chrome-768x768.jpg"); /* Replace with your image path */
}
.infra-card-5 {
  background-image: url("https://www.emstonline.com/cdn/images/products/bb35c6a9-49fc-4544-8157-3f77c3162f46.jpg"); /* Replace with your image path */
}

.infra-card::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5); /* Black overlay with 60% opacity */
  z-index: 1;
}

.infra-card-text {
  position: absolute;
  bottom: 100px;
  left: 45px;
  color: white;
  z-index: 3; /* Ensures text is above the overlay */
}

.infra-card-text p {
  margin: 0;
  letter-spacing: 3px;
}

.box {
  background-color: transparent;
  border-radius: 3px;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  height: 300px;
  transform-style: preserve-3d;
  perspective: 2000px;
  transition: 0.4s;
  text-align: center;
}
.box:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  border-top: 20px solid #52d3d8;
  border-left: 20px solid #52d3d8;
  box-sizing: border-box;
}
.box:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /*   52D3D8 
  
  173477*/
  border-bottom: 20px solid #52d3d8;
  border-right: 20px solid #52d3d8;
  box-sizing: border-box;
}
.box .fas {
  font-size: 25px;
  height: 50px;
  width: 50px;
  line-height: 50px !important;
  background-color: #52d3d8;
  color: #2c3a47;
}
.box .fa2 {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;
}
.box .text {
  position: absolute;
  top: 30px;
  left: -30px;
  width: calc(100% + 60px);
  height: calc(100% - 60px);
  background-color: #173477;
  border-radius: 3px;
  transition: 0.4s;
}
.box .text .fa1 {
  position: absolute;
  top: 0;
  left: 0;
}
.box .text div {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  text-align: center;
  width: 100%;
  padding: 30px 60px;
  line-height: 1.5;
  box-sizing: border-box;
}
.box .text div h3 {
  font-size: 30px;
  margin-bottom: 5px;
}
.box .text div p {
  font-size: 15px;
}
.box:hover {
  transform: translate(-50%, -50%) rotateY(-20deg) skewY(3deg);
}
.box:hover .text {
  transform: rotateY(20deg) skewY(-3deg);
}

/*  */
